.edit-profil
  .row
    .col-xs-2.avatar-image
      = image_tag(current_user.avatar)
    .col-xs-10
      %h1
        #{current_user.first_name} #{current_user.last_name} profile
      %p
        You can edit your profile here.
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true}) do |f|
  = devise_error_messages!
  .field
    = f.label :first_name
    %br
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br
    = f.text_field :last_name
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .field
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password
    /%i (leave blank if you don't want to change it)
    %br
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    /%i (we need your current password to confirm your changes)
    %br
    = f.password_field :current_password, autocomplete: "off"
    %br
    %br
  #test
    .field.wrapper
      = f.file_field :avatar
    .inv-butt
      %button Change the avatar image
    %br
    %br
  .dev-butt
    = f.submit "Update"
%h3 Cancel my account
.dev-butt
  #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
