%h3 Events waiting for you
/= will_paginate @events
%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th Location
      %th Description
      %th
  %tbody
    - @future_events.each do |event|
      %tr
        %td= event.name
        %td= event.start_date.strftime("%d/%m/%Y %H:%M")
        %td= event.end_date.strftime("%d/%m/%Y %H:%M")
        %td= event.location
        %td= event.description
        - if user_signed_in?
          %td= link_to 'S', event, method: :get
          %td= link_to 'E', "/events/#{event.id}/edit"
          %td= link_to 'D', event, method: :delete, data: { confirm: 'Are you sure?' }
/= will_paginate @events
%br         
%h3 Events that took part in
/= will_paginate @events
%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th Location
      %th Description
      %th
  %tbody
    - @past_events.each do |event|
      %tr
        %td= event.name
        %td= event.start_date.strftime("%d/%m/%Y %H:%M")
        %td= event.end_date.strftime("%d/%m/%Y %H:%M")
        %td= event.location
        %td= event.description
        - if user_signed_in?
          %td= link_to 'S', event, method: :get
          %td
          %td= link_to 'D', event, method: :delete, data: { confirm: 'Are you sure?' }
/= will_paginate @events