%h1 Listing events
/= will_paginate @events
%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th Location
      %th Description
      %th{colspan: "3"}
  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.start_date.strftime("%d/%m/%Y %H:%M")
        %td= event.end_date.strftime("%d/%m/%Y %H:%M")
        %td= event.location
        %td= event.description
        - if logged_in?
          %td= link_to 'Show', "/events/show/#{event.id}"
          %td= link_to 'Edit', "/events/edit/#{event.id}"
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
/= will_paginate @events
%br
.inv-butt
  = link_to 'New Event', events_new_path