%h1 #{@event.name.capitalize} event
%p
  Event name:
  %strong
    = @event.name
%p 
  Start date:
  %strong
    = @event.start_date.strftime("%d/%m/%Y %H:%M")
%p
  End date:
  %strong
    = @event.end_date.strftime("%d/%m/%Y %H:%M")
%p
  Description:
  %strong
    = @event.description
%br
%br
.inv-butt
  = link_to "Edit event", edit_event_path