%h1 #{@event.name.capitalize} event
%p
  = @users
%p
  Event name:
  %strong
    = @event.name
%p 
  Start date:
  %strong
    = @event.start_date.strftime("%d/%m/%Y %H:%M")
%p
  End date:
  %strong
    = @event.end_date.strftime("%d/%m/%Y %H:%M")
%p
  Location
  %strong
    = @event.location
%p
  Description:
  %strong
    = @event.description
%p
  Receivers:
  %strong
    - @event_invitations.each do |receiver|
      = receiver.user_email
%br
-if @event.owner == current_user
  .inv-butt
    = link_to "Edit event", edit_event_path
  %br
  - if @event.start_date >= Time.now
    .inv-butt
      = link_to "Create an invitation to this event", new_invitation_path(event_id: @event.id)
  - else
    .inv-butt
      = link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to "Back", :back
