!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title InvitorApp
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body{class: "#{params[:controller]}-#{params[:action]}"}
    .container
      .row#flash
        .col-xs-12
          %p.notice
            #{notice}
          %p.alert
            #{alert}

      .row
        .col-xs-2.col-xs-offset-1.left-menu
          .logo
            = link_to image_tag("logo_.png"), root_path
          .menu
            %ul
              - if current_user
                %li{class: (params[:controller] == 'users' && params[:action] == 'show' ? 'hidden' : '')}
                  = link_to 'My profile', "/users/#{current_user.id}"
                %li{class: (params[:controller] == 'devise/registrations' && params[:action] == 'edit' ? 'hidden' : '')}
                  = link_to 'Edit profile', edit_user_registration_path
                %li{class: (params[:controller] == 'events' && params[:action] == 'index' ? 'hidden' : '')}
                  = link_to 'All events', events_path
                %li{class: (params[:controller] == 'events' && params[:action] == 'my_index' ? 'hidden' : '')}
                  = link_to 'My events', my_events_path
                %hr
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete

              - else
                %li{class: (params[:controller] == 'devise/sessions' && params[:action] == 'new' ? 'hidden' : '')}
                  = link_to 'Sign in', user_session_path
                %li{class: (params[:controller] == 'devise/registrations' && params[:action] == 'new' ? 'hidden' : '')}
                  = link_to 'Registration', new_user_registration_path

        .col-xs-8.col-xs-offset-1
          = yield
      
      .row#footer
        .col-xs-2.col-xs-offset-1.left-menu
          © Invitor_app | 2014

        /   = link_to "Edit profile", '/users/edit'
        /   = link_to "View events", '/events'
        /   = link_to "New invitation", '/invitations/new'
        /   = link_to "My invitations", '/invitations'
        /   = link_to "My balance", '/users/show'
        /   = link_to "Logout", '/sessions/destroy'
        /- else
        /   = render 'home/index'